/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
}

p, ol, ul, tb {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p {
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}


div.field div.action {
  display: block;
  margin-bottom: 10px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  padding-bottom: 5px
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tb {
  padding-bottom: 7PX;
  padding-left: 5px;
  padding-right: 5px;
}

label {
  display: block;
}
